[submodule "python-ardrone"]
	path = python-ardrone
	url = https://github.com/fkmclane/python-ardrone
[submodule "libardrone"]
	path = libardrone
	url = https://github.com/venthur/python-ardrone
[submodule "ardrone-webflight"]
	path = ardrone-webflight
	url = https://github.com/eschnou/ardrone-webflight.git
[submodule "pyardrone"]
	path = pyardrone
	url = https://github.com/afq984/pyardrone
